.wrapper-hero {
  background-color: var(--simple-black);
}

.section-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-hero__img {
  max-width: 530px;
  max-height: 670px;
  padding: 115px 0;
}

.section-hero-info {
  max-width: 540px;
}

.section-hero-info__header {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  color: var(--simple-white);
}

.section-hero-info__discription {
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  color: var(--simple-white);
}

.section-hero-info-btn {}

.section-hero-info-btn__img {}

@media (max-width: 780px) {
  .section-hero {
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }

  .section-hero__img {
    max-width: 50%;
    margin: 0 auto;
    padding: 100px 0 0 0;
  }

  .section-hero-info {
    margin: 0 auto;
    padding-bottom: 115px;
  }

  .section-hero-info__header {
    text-align: center;
  }

  .section-hero-info__discription {
    text-align: center;
  }

  .section-hero-info-btn {
    margin: 0 auto;
  }
}

@media (max-width: 420px) {
   .section-hero__img {
    margin: 0 auto;
    max-width: 300px;
  }

  .section-hero-info__header {
    font-size: 28px;
  }

  .section-hero-info__discription {
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 40px;
  }
}