@import "./sections/navbar.css";
@import "./sections/section-hero.css";
@import "./sections/section-about.css";
@import "./sections/section-faqs.css";
@import "./sections/section-start.css";
@import "./sections/footer.css";